<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{title}}</title>
</head>
<body>
<h1>{{all}}</h1>
<p><a href="/candidate/1">Кандидат: {{alls_name[0]}}</a></p>
<p><a href="/candidate/2">Кандидат: {{alls_name[1]}}</a></p>
<p><a href="/candidate/3">Кандидат: {{alls_name[2]}}</a></p>
<p><a href="/candidate/4">Кандидат: {{alls_name[3]}}</a></p>
<p><a href="/candidate/6">Кандидат: {{alls_name[5]}}</a></p>
<p><a href="/candidate/7">Кандидат: {{alls_name[6]}}</a></p>
</body>
</html>