<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }}</title>
</head>
<body>
<h1>{{ all }}</h1>
<ul>{% for name in data_candidates %}
    <p><a href="/candidate/{{ name.pk }}">Кандидат: {{ name.name }}</a></p>
{% endfor %}
</ul>
<form action="/search/">
    <p>Поиск по имени:</p>
    <p><label>
        <input type="text" name="query">
    </label></p>
    <p><input type="submit" value="Отправить"></p>
</form>
<form action="/skill/">
    <p>Поиск по навыкам кандидата:</p>
    <p><label>
        <input type="text" name="skill">
    </label></p>
    <p><input type="submit" value="Отправить"></p>
</form>
</body>
</html>